
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

/* style global */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.7;
  color: white;
  width: 100%;
}

h2 {
  border-bottom: solid 5px #00babc;
  display: inline-block;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 900;
}

h3 {
  color: #00babc;
  padding-bottom: 1rem;
}

/* ------------------------*/

/* section header*/

.header {
  position: fixed;
  width: 100%;
  z-index: 4;

}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem 0.4rem;
  flex-wrap: wrap;
}

.logo-nav-container img {
  width: 60%;
  height: auto;
  transition: 1.5s;
}

.menu i {
  font-size: 3rem;
  color: #fff;
  display: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  color: white;
  font-size: 1rem;
  padding: 0 2rem;
  font-weight: 500;
}

.navigation ul li a:hover {
  border-bottom: solid 5px #00babc;
}

/* esto se agrega cuando se hace el scroll */

header.abajo {
  background-color: rgba(24,24,29,.9);
  border-bottom: 1px solid #5b5b60;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 4;
}
/* ------------------ */


@media only screen and (max-width: 960px){
  .logo-nav-container{
    padding: 1rem 3rem;
  }

  .navigation ul li a {
    font-size: 0.9rem;
    padding: 0.3rem 1.5rem;
  }

}

@media only screen and (max-width: 750px){

  .navigation ul li {
    display: block;
  }

  

  .navigation ul li a {
    font-size: 1.5rem;
  }

  .navigation {
    width: 100%;
    margin-top: 0.5rem;
    background-color: #00babc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .menu i {
    display: block;
    cursor: pointer;
  }

  .navigation ul {
    display: none;
  }

  .navigation ul.show {
    display: block;

  }

  .logo-nav-container img {
    width: 60px;
  }

  .menu i {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 480px) {
  .logo-nav-container{
    padding: 1rem 2rem;
  }
}

/*section banner*/

.main{
  width: 100%;
  height: auto;
}

#banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}

.imagen-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-image: url("../images/fondo4.jpg");
  background-size: cover;
  background-position: center;

}

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: #000;
  z-index: 2;
  opacity: 0.5;
}

.typing-demo {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-demo h1 {
  font-size: 1.5rem;
  letter-spacing: 5px;
  border:solid 3px #00babc;
  padding: 1%;
  opacity: 0.8;
}

@media only screen and (max-width: 960px) {
  .typing-demo h1{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 750px) {
  .typing-demo h1{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .imagen-container, .overlay {
    width: 100%;
    height: 70vh;
    display: block;
    top: 0;
  }

  .typing-demo {
    bottom: 15vh;
  }

  .typing-demo h1{
    font-size: 65%;
  }

}




/* section about me */

.about-me-container {
  padding: 2% 5%;
  background-color: #18181D; 
}

.content-about-me {
  display: flex;

}

.subtitule{
  padding: 0 0 5%;
}

.about-me-container .about-me-text-container {
  width: 60%;
  padding: 0.5% 2%;
  text-align: justify;
}


.about-me-container .about-me-text-container .container-icons {
  width: 70%;
  font-size: 3rem;
  border-left: solid 2px #00babc; 
  padding: 2% 0;

}

.about-me-container .about-me-text-container .container-icons .line1, .line2, .line3 {
  display: flex;
  justify-content: space-evenly;
  padding: 4% 0;
  
}

.about-me-container .about-me-text-container .container-icons span {
  font-size: 1rem;
}

.about-me-container .about-me-text-container .container-icons .item-icon {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-me-container .imagen-container2{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  border: solid 2px #00babc;
}

.about-me-container .imagen-container2 img {
  width: 60%;
  height: auto;
}

.about-me-container .imagen-container2 h3 {
  font-size: 1.4rem;
  color: #fff;
  opacity: 0.5;
}

.about-me-container .imagen-container2 .container-icons {
  width: 60%;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1% 0;
}

.about-me-container .imagen-container2 .container-icons i {
  padding: 2%;
}


@media only screen and (max-width: 960px) {
  .about-me-container .imagen-container2 img {
    width: 80%;
  }

  .about-me-container .about-me-text-container .container-icons {
    width: 100%;
  }
}


@media only screen and (max-width: 750px) {
  .content-about-me {
    display: flex;
    flex-direction: column;
  }
  .content-about-me .about-me-text-container {
    width: 100%;
  }

  .about-me-container .imagen-container2{
    width: 100%;
    padding-top: 5%;
  }

  .about-me-container .imagen-container2 {
    margin: 5% 0;
  }

}

@media only screen and (max-width: 480px) {
  .about-me-container {
    margin-top: -30vh;
  }

  .about-me-container .imagen-container2 {
    margin-top: 8%;
  }
}

/* section projects */

.project-container {
  background-color: #29292E;
  padding: 2% 5%;
}

.subtitule {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.project-step{
  width: 30%;
  position: relative;
  overflow: hidden;
  margin: 0.5% 1.5%;
}

.items-container .project-step .project {
  background-color: #00babc;
  width: 100%;
  height: auto;
}

/* animation for text center of projects */

.container-text {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.8;

  transform: translateY(100%);

  transition: all 0.5s ease-out;
  
}

.container-text .icons-text i {
  margin: 1rem;;
  
}

.project-step:hover .container-text {
  transform: translateY(0%);
}

@media only screen and (max-width: 960px){

  .items-container {
    display: flex;
    justify-content: center;
  }
  .project-step {
    width: 45%;
  }
}

@media only screen and (max-width: 750px) {
  .project-step {
    width: 100%;
  }

  .container-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .container-text {
    font-size: 0.6rem;
  }
}


/* section Post */

.posts-container {
  background-color: #18181D;
  padding: 2% 5%;
  display: flex;
  flex-direction: column;


}

.container-post {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
}

.post {
  border: solid 2px #00babc;
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: justify;
  padding: 1.5%;
  margin: 1.5%;
}

.post img {
  padding: 1rem 0;
  width: 70%;
  height: auto;
}

@media only screen and (max-width: 750px) {

  .container-post{
    display: flex;
    flex-direction: column;
  }

  .post {
    width: 96%;
    height: auto;
    padding: 1% 5%;
  }

  .post img {
    width: 80%;
    height: auto;
  }
}


/* footer */

.footer {
  background-color: #29292E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.footer p {
  font-size: 1.1rem;
  letter-spacing: 4PX;
  opacity: 0.7;
}

.heart {
  color: red;
}

@media only screen and (max-width: 480px) {

  .footer {
    font-size: 1rem;
  }

  .footer p {
    font-size: 0.8rem;
  }
}